* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-Italic-VariableFont_wght.ttf");
  src: url("fonts/Raleway-VariableFont_wght.ttf");
}
h1,
h2,
h3,
a,
p {
  font-family: "Raleway";
}

body {
  padding: 0px;
  margin: 0px;
}
.container .bloc_page {
  /* Wrapper */
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}
header {
  display: flex;
  flex-direction: column;
  width: 91.1%;
  margin: 0 auto;
}

.bloc_page {
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;

}
nav {
  display: flex;
  flex-direction: column;
  width: 100%; /* ===========================container nav=============================*/
  /* padding: 0px; */
}
.nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top:10px;
  width: 100%;
}

.nav_hebergement_reservia {
  /*========================== container nav hebergements reservia =======================*/
  display: flex;
  width: 80%;
  justify-content: space-between; /*============Mettre un écart entre le logo Réservia et le lien hebergements==============*/
  align-items: center; /*Pour centrer verticalement Réservia et Hébergement*/
}

.nav_inscrire_activite {
  /* =====================container nav hebergements s'incrire========================================= */
  display: flex;
  width: 20%;
  height: 100px;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
  color: black; /*couleur text barre navigation*/
}

nav :hover {
  color: #0065fc;
  /* text-decoration: overline; */
}

.nav .lien_heber:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*=====================================================BORDER TOP======================================*/
  border-top: 1px solid #0065fc;
  height: 100px;
}
.nav .inscrire:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /*=====================================================BORDER TOP======================================*/
  border-top: 1px solid #0065fc;
  height: 100px;
}
.nav .lien_activite:hover {
  display: flex;
  flex-direction: column;
  align-items: center; /*=====================================================BORDER TOP======================================*/
  justify-content: center;
  border-top: 1px solid #0065fc;
  height: 100px;
}
/* .lien_heber,
.inscrire,
.lien_activite a:hover {
  
} */

.lien_heber,
.inscrire {
  color: #0065fc; /*=====================================================================================Color des lien ======================================================================*/
}
.lien_heber,
.inscrire,
.lien_activite {
  font-size: 1.3em;
}

.logo_reservia img {
  width: 90px;
  order: -1;
  margin: 0px;
  padding: 0px;
}
.text1_header h1 {
  font-size: 1.3em;
}
input {
  width: 18.4%;
  border: 1px solid #f2f2f2;
  font-size: larger;
  padding-left: 20px;


}

.group_button {
  display: flex;
  margin-bottom: 20px;
}
.group_button i {
  width: 15px;
  padding: 0px; /*marker*/
}
.group_button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
  height: 49px;
  margin: 0px; /*==========================================================Emplacement marker===============================================================*/
  padding: 0px;
  border-radius: 15px 0px 0px 15px;
  background-color: #f2f2f2;
}
.button {
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  width: 11.5%;
  font-size:larger;
}
.button i {
  border-radius: 15px;
  color: white;
  background-color: #0065fc;
  width: 12%;
  display: none;
}
.button span {
  width: 100%;
  height: 15%;
  color: white;
  background-color: #0065fc;
  font-weight: 900;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* font-size: 1.2em; */
}
.filter_container {
  display: flex;
}
.filter ul {
  display: flex;
  padding-left: 0px;
  width: 100%;
}
.filter ul li {
  list-style-type: none;
}

.filter ul li a {
  text-decoration: none;
  color: black; /*couleur text des filtres*/
}
.filter_title {
  margin: 16px 14px 14px 0px;
  font-weight: 700;
}
/*contour icones*/
 .span_filter:hover{/*====================ANIMATION ICONS========================= */
  transition: transform 2s;
  transform: rotate(360deg);
  
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: transform 2s;
  -moz-transition: transform 2s;
  -ms-transition: transform 2s;
  -o-transition: transform 2s;
}



.span_filter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px; /*circle icons flitres*/
  border-radius: 30px;
  background-color: #deebff;
  /* margin-right: 13px; espacement icons and text */
}

.economique {
  display: flex;
  border: 1px solid #deebff;
  border-radius: 30px; /*=======================================================container economique==================================================*/
  margin-right: 15px;
  width: 250px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  align-items: center;

  font-size: 1.2em;
}
.economique i {
  width: 18px;
  height: 18px; /*Icones filter*/

  color: #0065fc;
}
.familial {
  display: flex;
  border: 1px solid #deebff;
  border-radius: 30px;
  margin-right: 15px; /*=======================================================container familial==================================================*/
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 1.2em;
}
.familial i {
  width: 15px;
  height: 21px; /*Icons filter*/

  color: #0065fc;
}
.romantique {
  display: flex;
  border: 1px solid #deebff;
  border-radius: 30px;
  margin-right: 15px; /*=======================================================container romantique==================================================*/
  width: 230px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 1.2em;
}
.romantique i {
  width: 19px;
  height: 19px; /*Icons romantique*/

  color: #0065fc;
}
.animaux {
  display: flex;
  border: 1px solid #deebff;
  border-radius: 30px;
  margin-right: 15px; /*=======================================================container animaux==================================================*/
  width: 300px;
  height: 50px;
  text-align: center;
  text-justify: auto;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 1.2em;
}
.animaux i {
  width: 18px;
  height: 21px; /*Icones filter*/

  color: #0065fc;
}

.economique h3,
.familial h3,
.romantique h3,
.animaux h3 {
  margin-left: 19px;
}
.filter a :hover {
  color: white;
}
.filter_container a:hover {
  background: #0065fc;
}
.filter a:hover {
  background: #0065fc;
}

.info {
  display: flex; /*==============================================container info==========================================================*/
  flex-direction: row;
  align-items: center;
  height: 100px;
}
.info i {
  color: #0065fc; /*======================================== icon info===============================================*/
  display: flex;
}
.info .span_info {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f2f2f2; /* ============================circle info ===========================================*/
  border-radius: 30px;
  margin: 0px 10px 0px 9px;
  height: 30px;
  width: 30px;
}

.info p {
  margin: 0px;
  /* margin-top: 30px; */
  font-size: 1.2em;
  
}

.bloc_page2 {
  display: flex;
  width: 93.1%; /*Wrapper*/
  justify-content: space-around;
  margin: 0 auto;
}
/*===============================================Hébergement====================================*/
.hebergement {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2; /*===============================background Hébergement==============================*/
  border-radius: 20px;
  width: 63.66%;
}
.hebergement h2 {
  margin-left: 30px;
}

.hebergement_card {
  display: flex;
  flex-direction: column;
  width: 100%; /*==============================================Wrapper Hébergement===============================================*/
}

.tree_img {
  display: flex;
  width: 100%;
  justify-content: center; /*=======================Container images Hébergement============================================*/
  margin-bottom: 30px;
  justify-content: space-evenly;
  height: 199px;
}
figure {
  margin: 0;
}

figure.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px; /*===================================vignette hebergement============================================*/
  width: 28.9%;
  height: 100%;
  background-color: white;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE===============================================*/
  cursor: pointer;
  padding: 2px;
}
.card_img1,
.card_img2,
.card_img3,
.card_img4,
.card_img5,
.card_img6 {
  display: flex; /*=========================Container images hebergement==============================================*/
  flex-direction: column;
  width: 100%;
  height: 61%;

  align-items: center;
  justify-content: center;
}

.card_img1 img {
  /*===========================================Images Card Hébergement========================================== */
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*236px*/
  height: 96%; /*114px*/
  object-fit: cover;
  /* background-image: url("images_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg"); */
  /* background-size: cover; */
}
.card_img2 img {
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*===========================================Images Card Hébergement================================================ */
  height: 96%; /*114px*/
  object-fit: cover;
  /* background-image: url("images_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
  background-size: cover; */
}
.card_img3 img {
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*===========================================Images Card Hébergement================================================= */
  height: 96%; /*114px*/
  object-fit: cover;
  /* background-image: url("images_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover; */
}
.card_img4 img {
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*===========================================Images Card Hébergement=================== */
  height: 96%; /*114px*/
  object-fit: cover;

}
.card_img5 img {
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*===========================================Images Card Hébergement=================== */
  height: 96%; /*114px*/
  object-fit: cover;
 
}
.card_img6 img {
  border-radius: 15px 15px 0px 0px;
  width: 97.3%; /*===========================================Images Card Hébergement=================== */
  height: 96%; /*114px*/
  object-fit: cover;
 
}

.container_hbgm_text_star {
  width: 95%;
  height: 39%;
  font-size: 0.8em;
  font-weight: 900;
  margin-left: 10px; /*===============================Container Texte hebergement======================= */
  line-height: 20px;
  /* overflow-wrap: break-word; */
}
.container_hbgm_text_star p {
  margin: 0px;
}
.container_hbgm_text_star h2 {
  margin: 0px;
}
.afficher {
  display: flex;
  width: 20%;
  justify-content: center;
}

.group_star_heber i {
  color: #0065fc;
}
i:hover {
  color: #aaa;
}
.i i {
  color: #aaa; /*=========================================star grey======================================*/
}

.card a {
  text-decoration: none;
  color: black; /*couleur texte vignette hébergement à Marseille */
}
/*======================================================ASIDE===========================================================================*/
aside {
  display: flex;
  flex-direction: column;
  order: 2;
  border-radius: 20px;
  background-color: #f2f2f2;
  width: 30.4%;
  align-items: center; /*Pour alinger horizontalement*/
}
.populaire_card2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

figure.card2 {
  display: flex;
  flex-direction: row;
  border-radius: 15px 15px 0px 0px;
  border-radius: 20px; /*CARDS  SIDE BAR*/
  margin-bottom: 33px; /*Espacement entre CARDS */
  font-size: 12px;
  background-color: white;
  width: 86.7%;
  height: 144px;
  padding: 5px;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.card2_img1,
.card2_img2,
.card2_img3 {
  width: 34.6%; /*===========================Container images Aside=========================================*/
  height: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.card2_img1 img {
  border-radius: 15px 0px 0px 15px;
  width: 100%;
  height: 100%; /*=====================================images Aside========================================*/
  object-fit: cover;
  /* margin: 0px;
  padding: 0px; */
 
}
.card2_img2 img {
  border-radius: 15px 0px 0px 15px;
  width: 100%;
  height: 100%; /*=====================================images Aside========================================*/
  margin: 0px;
  padding: 0px;
  object-fit: cover;
 
}
.card2_img3 img {
  border-radius: 15px 0px 0px 15px;
  width: 100%;
  height: 100%; /*=====================================images Aside========================================*/
  margin: 0px;
  padding: 0px;
  object-fit: cover;
 
}
.container_text_star {
  display: flex;
  flex-direction: column;
  width: 170px;
  font-size: 0.8em;
  margin-left: 20px;
  flex-wrap: wrap;
}
.group_star {
  color: #0065fc; /*============================================================Container start Aside==================================================*/
  font-size: 13px;
  padding-top: 45px;
}
.card2 h2 {
  /* display: flex; */
  /* height: 24px; */
  /* width: 100%; */
  font-size: 2em;
  margin: 0.2em 0 0 0;
}
.card2 p {
  margin: 0.3em 0 0 0;
  font-size: 1.6em;
}

.card2 a {
  text-decoration: none; /* color text aside*/
  color: black;
}
.text_aside {
  text-align: right;
  width: 150px;
  order: 2;
}

.group_chart {
  display: flex;
  justify-content: space-between; /*espacement entre logo et text*/
  width: 84%;
}
.group_chart img {
  width: 20px;
  height: 60px;
}
.title_activite {
  /*============================================================Activite=========================================================================*/
  /* display: flex;
  width: 26%;
  justify-content: center; */
  margin-left: 40px;
  
}

.section_activite {
  margin-top: 50px; /*Espacement Activité  Hébergements */
  width: 94.1%;
  display: flex;
  flex-direction: column;
}
.activités {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 446px; /*========================================================================Container Activités=================================================================*/
  border-radius: 20px;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}
.double_picture {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 446px;
  justify-content: space-between;
}
.activite_1 {
  border: 1px solid lightgrey;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 21%;
  height: 100%;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_1 img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 389px;
  object-fit: cover;
  
}

.activite_2 {
  border: 1px solid lightgrey;
  border-radius: 20px 20px 20px 20px;
  /* margin-bottom: 40px; */
  padding-bottom: 20px;
  background-color: white;
  font-size: 10px;
  width: 100%;
  height: 237px;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_2 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 181px;
  object-fit: cover;
  
}
.activite_3 {
  border: 1px solid lightgrey;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 100%;
  height: 164px;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_3 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 109px;
  object-fit: cover;

}
.activite_4 {
  border: 1px solid lightgrey;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 21%;
  height: 100%;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_4 img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 389px;
  object-fit: cover;
 
}
.activite_5 {
  border: 1px solid lightgrey;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 100%;
  height: 194px;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_5 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 140px;
  object-fit: cover;
 
}

.activite_6 {
  border: 1px solid lightgrey;
  border-radius: 20px 20px 20px 20px;
  padding-bottom: 20px;
  font-size: 10px;
  width: 100%;
  height: 209px;
  box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
  cursor: pointer;
}
.activite_6 img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 153px;
  object-fit: cover;

}
.activités h2 {
  margin: 0px;
  font-size: 1.9em;
  color: black;
}
.activités a {
  text-decoration: none;
}
.text_activite {
  margin: 5px 0px 0px 20px;
}
/*============================================================FOOTER========================================================*/
footer {
  display: flex;
  width: 100%;
  height: 280px;
  /* margin-top: 60px; */
  padding-top: 30px;
  background-color: #f2f2f2;
}
.footer_section {
  width: 34%;
  font-size: large;
  line-height: 0.8em;
  padding-left: 40px;
}

footer a {
  text-decoration: none;
  color: black; /*====================couleur texte footer========================================================== */
  font-weight: 400;
}

@media screen and (max-width: 1204px){
  .nav_hebergement_reservia {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.nav_inscrire_activite {
    width: 37%;
}
    .economique {
    width: 230px;
    /* margin-left: 59px; */
}
    .familial {
    width: 176px;
    /* margin-left: 59px; */
}
    .romantique {
    width: 228px;
    /* margin-left: 59px; */
}
  .animaux {
    width: 290px;
    /* margin-left: 59px; */
}

}

@media screen and (max-width: 1150px) {
  body {
    width: 1150px;
  }
  .button {
  /* border-radius: 0px 15px 15px 0px;
  background-color: #0065fc; */
  width: 12.5%;
  font-size:larger;
}

  .tree_img {
    display: flex;
    width: 100%;
    height: 199px;
    justify-content: center; /*=======================Container images Hébergement====================*/
    justify-content: space-evenly;
  }
  figure {
    margin: 0;
  }

  figure.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px; /*===================================vignette hebergement============================================*/
    width: 28.9%;
    height: 100%;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE===============================================*/
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }
  .card_img1,
  .card_img2,
  .card_img3,
  .card_img4,
  .card_img5,
  .card_img6 {
    display: flex; /*=========================Container images hebergement==============================================*/
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
  }
  .card_img1 img {
    /*===========================================Images Card Hébergement========================================== */
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*236px*/
    height: 96%; /*114px*/
    object-fit: cover;
   
  }
  .card_img2 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement================================================ */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img3 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement================================================= */
    height: 96%; /*114px*/
    object-fit: cover;
 
  }
  .card_img4 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
 
  }
  .card_img5 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img6 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
 
  }

  .container_hbgm_text_star {
    width: 95%;
    height: 39%;
    font-size: 0.8em;
    font-weight: 900;
    margin-left: 10px;
    line-height: 20px;
    /* margin-left: 10px; */ /*===============================Container Texte hebergement======================= */
    line-height: 20px;
    /* overflow-wrap: break-word; */
  }
  .container_hbgm_text_star p {
    margin: 0px;
  }
  .container_hbgm_text_star h2 {
    margin: 0px;
  }
  .afficher {
    margin-left: 40px;
  }
  .populaire_card2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  figure.card2 {
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;
    border-radius: 20px; /*CARDS  SIDE BAR*/
    margin-bottom: 33px; /*Espacement entre CARDS */
    font-size: 12px;
    background-color: white;
    width: 90%;
    padding: 5px;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .card2_img1,
  .card2_img2,
  .card2_img3 {
    width: 40%; /*===========================Container images Aside=========================================*/
  }
  .card2_img1 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 134px; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    
  }
  .card2_img2 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 134px; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
   
  }
  .card2_img3 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 134px; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
   
  }
  .container_text_star {
    display: flex;
    flex-direction: column;
    width: 130px;

    flex-wrap: wrap;
  }
  .container_text {
    font-size: 0.9em;
  }
  .card2 h2 {
   
    margin: 0.2em 0 0 0;
  }
  .card2 p {
    margin: 0.2em 0 0 0;
    font-size: 1.6em;
  }

  .group_star {
    padding-top: 40px;
  }
  .activités h2 {
    margin-left: 20px;
    font-size: 2em;
    color: black;
  }
}

@media screen and (max-width: 950px) {
  body {
    width: 950px;
  }

  .bloc_page2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 25%;
  }
  .animaux {
    margin-left: 0px;
}


  .group_button {
    display: flex;
  }

  .group_button i {
    width: 15px; /*====================================marker===============================*/
    padding: 0px;
  }

  .group_button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 49px;
    margin: 0px; /*===============================Emplacement marker========================*/
    padding: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
  }

  .button {
    border-radius: 0px 10px 10px 0px; /*===========================Button Recherche=======================*/
    background-color: #0065fc;
    width: 15%;
    font-size: larger;
  }
  .button span {
    width: 100%;
    height: 15%;
    background-color: #0065fc;
  }

  .filter_container {
    display: flex;
    flex-direction: column;
  }

  .bloc_page {
    padding: 0px;
    width: 100%;
  }

  header {
    width: 100%;
  }

  .hebergement {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
  }

  .hebergement_card {
    width: 100%;
  }

  .tree_img {
    display: flex;
    width: 100%;
    justify-content: center; /*=======================Container images Hébergement====================*/
    margin-bottom: 30px;
    justify-content: space-evenly;
    height: 199px;
  }

  figure {
    margin: 0;
  }

  figure.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px; /*===================================vignette hebergement============================================*/
    width: 28.9%;
    height: 100%;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE===============================================*/
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }

  .card_img1,
  .card_img2,
  .card_img3,
  .card_img4,
  .card_img5,
  .card_img6 {
    display: flex; /*=========================Container images hebergement==============================================*/
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
  }
  .card_img1 img {
    /*===========================================Images Card Hébergement========================================== */
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*236px*/
    height: 96%; /*114px*/
    object-fit: cover;
    
  }
  .card_img2 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement================================================ */
    height: 96%; /*114px*/
    object-fit: cover;
    
  }
  .card_img3 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement================================================= */
    height: 96%; /*114px*/
    object-fit: cover;
    /* background-image: url("images_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
  background-size: cover; */
  }
  .card_img4 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
   
  }
  .card_img5 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img6 img {
    border-radius: 15px 15px 0px 0px;
    width: 97.3%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
    
  }

  .container_hbgm_text_star {
    width: 95%;
    height: 50%;
    font-weight: 900;
    font-size: 0.9em;
    /* margin-left: 10px; */ /*===============================Container Texte hebergement======================= */
    line-height: 20px;
    
  }

  .container_hbgm_text_star p {
    margin: 0px;
  }

  .container_hbgm_text_star h2 {
    margin: 0px;
  }

  .afficher {
    margin-left: 40px;
  }

  aside {
    display: flex;
    margin-left: 0px;
    width: 100%;
    height: 876px;
    padding: 0px;
    background-color: white;
  }

  .populaire_card2 {
    display: flex;
    flex-direction: column; /*==========================Container all cards aside===========================*/
    width: 100%;
    height: 800px;
    /* justify-content: space-evenly; */
  }

  figure.card2 {
    display: flex; /*================================Conatainer CARD Aside=====================================*/
    width: 90%;
    height: 30%;
    cursor: pointer;
  }

  .card2_img1,
  .card2_img2,
  .card2_img3 {
    display: flex;
    width: 40%;
    height: 100%; /*===============================Container Images Aside======================================*/
    align-items: center;
    justify-content: center;
  }

  /*==================================================Images Aside===================================================*/

  .card2_img1 img {
    border-radius: 15px 0px 0px 15px;
    width: 95%;
    height: 95%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    
  }

  .card2_img2 img {
    border-radius: 15px 0px 0px 15px;
    width: 95%;
    height: 95%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    
  }

  .card2_img3 img {
    border-radius: 15px 0px 0px 15px;
    width: 95%;
    height: 95%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
   
  }

  .container_text_star {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 60%;
    font-size: 10px;
  }
  .card2 h2 {
   
    font-size: 3em;
    /* margin: 0.2em 0 0 0; */
  }
  .card2 p {
    /* margin: 0.3em 0 0 0; */
    font-size: 2.6em;
  }
  .group_star {
    color: #0065fc; /*============================================================Container start Aside==================================================*/
    font-size: 13px;
    padding-top: 100px;
  }

  .group_chart {
    display: flex;
    justify-content: space-between;
    width: 88%;
    
  }

  .section_activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3200px;
    margin-top: 50px;
  }
  /* .section_activite h1 {
    margin: 0px; 
    text-align: center;
    width: 60%;
  } */

  .title_activite {
    /*===============================text activite à marseille====================================*/
    /* display: flex;
    width: 100%; */
    padding-bottom: 88px;
  }
  .title_activite h2 {
    width: 80%;
  }
  .title_activite {
    /*============================================================Activite=========================================================================*/
    /* display: flex;
    width: 100%;
    justify-content: center; */
    padding-bottom: 88px;
    margin-left: 40px;
  }

  .section_activite {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /*Espacement Activité  Hébergements */
    width: 100%;
    height: 3200px;
    margin-bottom: 100px;
  }
  .activités {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3076px; /*========================================================================Container Activités=================================================================*/
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .double_picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 80px;
  }

  .activite_1 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 85%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    margin-bottom: 40px;
  }
  .activite_1 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }

  .activite_2 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;

    padding-bottom: 20px;
    background-color: white;
    font-size: 1em;
    width: 85%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    margin-bottom: 40px;
  }
  .activite_2 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }
  .activite_3 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 85%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    margin-bottom: 40px;
  }
  .activite_3 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }
  .activite_4 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 85%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    margin-bottom: 40px;
  }
  .activite_4 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
  
  }
  .activite_5 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 85%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_5 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }

  .activite_6 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 85%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_6 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }

  section h1 {
    margin: 0px;
    text-align: center;
    height: 60px; /*==============================spacing between text and images================== */
  }

  footer {
    display: flex;
    height: 360px;
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 768px;
  }
  .bloc_page2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav_hebergement_reservia {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
.nav_inscrire_activite {
    
    width: 37%;

}
.filter h3{
  margin-left: 10px;
}
.economique {
    width: 194px;
    font-size: 1em;
}
.familial{
  font-size: 1em;
}
.romantique {
    width: 194px;
    font-size: 1em;
}
.animaux {
    width: 241px;
    font-size: 1em;
}
  input {
    width: 35%;
  }
  .group_button {
    display: flex;
  }
  .group_button i {
    width: 15px; /*====================================marker===============================*/
    padding: 0px;
  }
  .group_button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 49px;
    margin: 0px; /*===============================Emplacement marker========================*/
    padding: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
  }

  .button {
    border-radius: 0px 10px 10px 0px; /*===========================Button Recherche=======================*/
    background-color: #0065fc;
    width: 20.5%;
    font-size: larger;
  }
  .button span {
    width: 100%;
    background-color: #0065fc;
  }
  .bloc_page {
    padding: 0px;
    width: 100%;
  }
  header {
    width: 100%;
  }

  .hebergement {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
    justify-content: space-evenly;
  }
  .hebergement_card {
    width: 100%;
  }
  .tree_img {
    display: flex;
    width: 100%;
  }
  figure.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px; /*===================================vignette hebergement============================================*/
    width: 28.9%;
    height: 100%;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE===============================================*/
    align-items: center;
    justify-items: center;
    cursor: pointer;
  }
  .card_img {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
  }
  .card_img img {
    width: 95%;
    height: 114px;
  }

  aside {
    display: flex;
    margin-left: 0px;
    width: 100%;
    padding: 0px;
    background-color: white;
    margin-bottom: 40px;
  }
  .populaire_card2 {
    display: flex;
    flex-direction: column; /*==========================Container all cards aside===========================*/
    width: 100%;
  }
  figure.card2 {
    display: flex; /*================================Conatainer CARD Aside=====================================*/
    width: 90%;
    height: 30%;
    cursor: pointer;
  }
  .card2_img1,
  .card2_img2,
  .card2_img3 {
    /* display: flex; */
    width: 40%;
    /*height: 20px; ===============================Container Images Aside======================================*/
  }

  .card2_img1 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
   
  }
  .card2_img2 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
  }
  .card2_img3 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
  }
  /*
  .card2 {
    display: flex; ================================Conatainer CARD Aside=====================================
    width: 30%;
  }*/
  /*
  .card2_img {
    display: flex;
    width: 50%; ===============================Container Images Aside======================================
  }*/
  /*
  .card2_img img {
    ==================================================Images Aside===================================================
    width: 100%;
  }*/
  .container_text_star {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 60%;
    font-size: 10px;
  }
  .group_chart {
    display: flex;
    justify-content: space-between;
    width: 88%;
  }

  .section_activite {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    /* margin-top: 50px; */
  }
  .section_activite h1 {
    margin: 0px; /*===============================text activite à marseille====================================*/
    text-align: center;
    width: 60%;
  }

  .section_activite {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /*Espacement Activité  Hébergements */
    width: 100%;
    height: 3320px;
    /* margin-bottom: 100px; */
  }
  .activités {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 3200px; /*========================================================================Container Activités=================================================================*/
    border-radius: 20px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .double_picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 80px;
  }

  .activite_1 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 90%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    /* margin-bottom: 40px; */
  }
  .activite_1 .gift {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    background-image: url("images_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 90%;
  }

  .activite_2 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;

    padding-bottom: 20px;
    background-color: white;
    font-size: 1em;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    /* margin-bottom: 40px; */
  }
  .activite_2 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  .activite_3 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    /* margin-bottom: 40px; */
  }
  .activite_3 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }
  .activite_4 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 90%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    /* margin-bottom: 40px; */
  }
  .activite_4 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
 
  }
  .activite_5 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    /* margin-bottom: 40px; */
    padding-bottom: 20px;
    font-size: 1em;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_5 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
 
  }

  .activite_6 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 1em;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_6 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;
   
  }

  section h1 {
    margin: 0px;
    text-align: center;
    height: 60px; /*==============================spacing between text and images================== */
  }
  footer {
    display: flex;
    height: 360px;
  }
}

@media all and (max-width: 425px) {
  body {
    
    width: 425px; */
    margin: 0px;
    /* justify-content: center; */
  }
  .bloc_page {
    
    width: 100%;
    justify-content: center;
  }
  header {
    display: flex;
    width: 100%;
  }
  /*=======================================================NAVIGATION=====================================*/

  .nav {
    display: flex;
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #f2f2f2;
  }
  nav {
    display: flex;
    padding: 0px;
    display: flex;
    width: 50px;
  }
  .nav_hebergement_reservia {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100px;
    justify-content: space-between;
  }
  .nav_inscrire_activite {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100px;
    justify-content: space-between;
  }
  .logo_reservia {
    align-self: flex-start; /*=====================================================Logo sur la gauche===================================================*/
    margin-left: 10px;
  }
  .inscrire {
    align-self: flex-end;
  }
  .lien_heber,
  .inscrire {
    color: #0065fc; /*=====================================================================================Color des liens ======================================================================*/
    margin: 10px 10px 0px 0px;
  }

  .nav_hebergement_activite a:hover {
    text-decoration: underline;
  }

  .text1_header h1 {
    text-align: center;
    font-size: 1.8em;
  }
  .text1_header P {
    text-align: center;
    font-size: 1.2em;
  }
  .bloc_page2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 1301px; */
    justify-content: center;
  }
  /*===================================================Barre de Recherche=======================================================*/
  input {
    width: 70%;
  }
  .group_button1 {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .group_button {
    display: flex;
    width: 95%;
  }
  .group_button i {
    width: 15px; /*=======================================marker====================================================*/
    padding: 0px;
  }
  .group_button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 49px;
    margin: 0px; /*====================================Emplacement marker==============================================*/
    padding: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
  }

  .button span {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #0065fc; /*===========================Button Recherche==========================================*/
    color: white;
    width: 10%;
    display: none;
    justify-content: center;
    align-items: center;
  }

  .button i {
    border-radius: 15px;
    color: white; /*=======================================================================Icone search====================================================================*/
    background-color: #0065fc;
    width: 100%;
    display: block;
  }

  /*=======================================================FILTER  BUTTON==============================================*/
  .filter {

    margin-left: 5px;
    width: 90%;
  }
  .filter ul {
    display: flex; /*========================================Container filter==========================================*/
    flex-direction: column;
    width: 95%;
  }
  .filter .filter_title {
    width: 80%;
  }

  .filter_container {
    display: flex;
    flex-direction: row;
  }

  .filter ul li {
    list-style-type: none;
  }

  .filter ul li a {
    text-decoration: none;
    color: black; /*couleur text des filtres*/
  }
  .filter_title {
    margin: 16px 14px 14px 0px;
    font-weight: 700;
  }

  .span_filter {
    /*=======================================contour icones=============================================*/

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px; /*circle icons flitres*/
    border-radius: 30px;
    background-color: #deebff;
    /* margin-right: 13px; espacement icons and text */
  }
  filter p {
    /*========================================================pargraphe filter========================================================*/
    /* margin-left: 20px auto; */
  }
  .economique {
   
    width: 213px;
    /* height: 50px;
    text-align: center;
    font-weight: bold;
  }
  .economique i {/*Icones filter*/
    /* width: 18px;
    height: 18px; 

    color: #0065fc; */
  }
  .familial {

    width: 165px;
    height: 50px;
    
  }
  .familial i {/*Icons filter*/

    /* width: 15px;
    height: 21px; 
    color: #0065fc; */
  }
  /* .romantique {
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 15px;
    width: 184px;
    height: 50px;
    text-align: center;
    font-weight: bold;
  } */
  .romantique i {/*Icons romantique*/
    /* width: 19px;
    height: 19px; 

    color: #0065fc; */
  }
  .animaux {
    /* display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    margin-right: 15px;
    width: 242px;
    height: 50px;
    text-align: center;
    text-justify: auto;
    font-weight: bold; */
    margin-left: 0;
  }
  .animaux i {/*Icones filter*/
    /* width: 18px;
    height: 21px; 

    color: #0065fc; */
  }
  .info p {
    
    font-size: 0.9em;
    width: 96%;
  }
  /*=====================================================HEBERGEMENT==================================================*/
  .hebergement {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    justify-content: center;
    
  }
  .hebergement h2 {
    display: block;
    width: 90%;
  }
  .tree_img {
    display: flex;
    flex-direction: column;
    width: 100%; /*=================================Container all cards============================= */
    align-items: center; /*======================centrage card hebergement=======================*/
    height: 700px;
    margin: 0px;
  }
  .hebergement_card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  figure.card {
    display: flex;
    width: 90%;
    align-content: center;
    height: 214px;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    padding: 5px;
  }

  .card_img1,
  .card_img2,
  .card_img3,
  .card_img4,
  .card_img5,
  .card_img6 {
    display: flex; /*=========================Container images hebergement==============================================*/
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
  }
  .card_img1 img {
    /*===========================================Images Card Hébergement========================================== */
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*236px*/
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img2 img {
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*===========================================Images Card Hébergement================================================ */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img3 img {
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*===========================================Images Card Hébergement================================================= */
    height: 96%; /*114px*/
    object-fit: cover;

  }
  .card_img4 img {
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img5 img {
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }
  .card_img6 img {
    border-radius: 15px 15px 0px 0px;
    width: 98.8%; /*===========================================Images Card Hébergement=================== */
    height: 96%; /*114px*/
    object-fit: cover;
  
  }

  /* .hebergement h1 {
    background-color: white;
    width: 90%;
    text-align: left;
    margin: 0px;
  } */

  .container_hbgm_text_star {
    width: 95%;
    height: 30%;
    /* font-size: 0.8em; */
    font-weight: 900;
  }
  .container_hbgm_text_star h2 {
    font-size:26px ;
    margin: 0px;
}
.container_hbgm_text_star p {
    font-size: 20px;
    margin: 0px;
}
  .afficher {
    display: block;
    width: 82%;
    margin: 0px;
  }
  /*=================================================SIDE BAR=======================================================*/
  aside {
    display: flex;
    order: -1;
    width: 100%;
    height: 620px;
    border-radius: 0px;
    background-color: #f2f2f2;
  }
  .group_chart {
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin-left: 0px;
  }
  .populaire_card2 {
    /*======================container all  Cards side bar=========================*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  figure.card2 {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 144px; /*================================container card==================================*/
    justify-content: space-between;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
    padding: 5px;
  }
  .card2_img1,
  .card2_img2,
  .card2_img3 {
    width: 30%;
    height: 100%; /*===========================Container images Aside=========================================*/
  }
  .card2_img1 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    
  }
  .card2_img2 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
   
  }
  .card2_img3 img {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
    height: 100%; /*=====================================images Aside========================================*/
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    
  }
  .container_text_star {
    display: flex;
    flex-direction: column; /*=======================================Container Aside text======================*/
    width: 250px;
    margin-left: 20px;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .container_text p {
    font-size: 20px;
  }
  .container_text h2 {
    font-size: medium;
    margin: 0;
  }

  .group_star {
    height: 50%;
    padding-top: 40px;
    /* border: 1px solid black; */
  }
  /* .group_star_au_coeur {
    height: 50%;
    padding-top: 30px;
    color: #0065fc;
  } */
  /* .container_text1 {
    width: 90%;
    height: 40%;

    margin: 0;
  } */
  .container_text1 h2 {
    margin: 0;
  }
  .container_text {
    /* border: 1px solid black; */
    width: 89%;
    height: 50%;

    margin: 0;
  }
  .card2 h2 {
    /* display: flex; */
    /* height: 24px; */
    /* width: 100%; */
    font-size: 2.3em;
  }
  /*====================================================Activite================================================*/

  .section_activite {
    display: flex;
    width: 100%;
  }

  .title_activite {
    /*===============================text activite à marseille====================================*/
    display: flex;
    width: 70%;
  }
  .title_activite h2 {
    width: 90%;
  }
  .section_activite {
    display: flex;
    flex-direction: column;
    margin-top: 50px; /*Espacement Activité  Hébergements */
    width: 100%;
    height: 1590px;
    margin-bottom: 100px;
  }
  .activités {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1430px; /*========================================================================Container Activités=================================================================*/
    border-radius: 20px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }
  .double_picture {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 32%;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 80px;
  }

  .activite_1 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: 90%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_1 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }

  .activite_2 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;

    padding-bottom: 20px;
    background-color: white;
    font-size: 10px;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_2 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }
  .activite_3 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_3 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }
  .activite_4 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: 90%;
    height: 16%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_4 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }
  .activite_5 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_5 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }

  .activite_6 {
    border: 1px solid lightgrey;
    border-radius: 20px 20px 20px 20px;
    padding-bottom: 20px;
    font-size: 10px;
    width: 90%;
    height: 50%;
    box-shadow: 8px 8px 12px #aaa; /*================================OMBRAGE=======================*/
    cursor: pointer;
  }
  .activite_6 img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    object-fit: cover;

  }

  /*======================================================FOOTER===========================================================================*/
  footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 627px;
  }
  .footer_section {
    width: 100%;
  }
}
